.input-conatiner{
        padding: 12px 15px;
        border-radius: 10px;
        border-width: 1px;
        flex-grow: 1;
}
.button-click{
          padding: 12px 15px;
          border-radius: 10px;
          background-color: rgb(40, 215, 66);
}
.inputs-container{
          display: flex;
          justify-content: center;
          align-items: center;
          gap:5px;
}